doctype html
html(lang="en")
     head
          //- title= pageTitle
          meta(name="viewport" content="width=device-width, initial-scale=1.0")
          link(rel="icon", href="https://drive.google.com/thumbnail?id=1Jz5p-jH2Lv8VzqNJPhKQLYcPnzeZWS4c")
          style(type="text/css").
               @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&display=swap');
               body{
                    font-family: 'Manrope', sans-serif, 'Courier New', Courier, monospace;
                    text-align: center;
                    margin: auto .5em;
                    background-color: rgba(50, 80, 157, 0.1);
               }
               h2{
                    text-align: center;
                    margin: auto;
                    color: #32509D;
               }
               .logo{
                    text-align: center;
                    height: auto;
                    width: 60px;
                    margin: auto;
               }
               .lbrk{
                    height: .01px;
                    color: gray;
                    background-color:gray;
               }
               .greet{
                    margin: 1em auto;
                    text-align: left;
                    font-size: medium;
                    color: #32509D;
               }
               .ebody{
                    text-align: left;
                    margin-bottom: 2em;
               }
               .footer{
                    font-size: small;
                    text-align: center;

               }

     body
          p
          img(src="https://firebasestorage.googleapis.com/v0/b/voltex-9b3e0.appspot.com/o/app%2Flogo.png?alt=media&token=a69bdb18-8a43-47f0-9f75-3cb6aaf7f7a5", alt="Voltex Middlwear logo", class="logo")
          h2 Voltex
          h2.greet Hello,
          div(class="ebody") #{body}
          hr.lbrk
          p 
               a(href="mailto:voltex.designs@outlook.com" ) 
                    img(src="https://img.icons8.com/color/20/000000/gmail-new.png", alt="Mail") 
          p.footer © 2022 Voltex. All rights reserved