doctype html
html(lang="en")
     head
          //- title= pageTitle
          meta(name="viewport" content="width=device-width, initial-scale=1.0")
          link(rel="icon", href="https://drive.google.com/thumbnail?id=1Jz5p-jH2Lv8VzqNJPhKQLYcPnzeZWS4c")
          style(type="text/css").
               @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&display=swap');
               body{
                    font-family: 'Manrope', 'Courier New', Courier, monospace;
                    text-align: center;
                    margin: auto .5em;
               }
               h1{
                    text-align: center;
                    margin: auto;
               }
               .logo{
                    text-align: center;
                    height: 20%;
                    width: 10%;
                    margin: auto;
               }
               a{
                    color: #61dafb;
                    text-decoration: none;
               }
               .ebody{
                    text-align: left;
               }
               @media only screen and (max-width: 600px) {
                    .logo{
                         height: 30%;
                         width: 20%;
                    }
               }
     body
          p
          img(src="https://firebasestorage.googleapis.com/v0/b/voltex-9b3e0.appspot.com/o/app%2Flogo.png?alt=media&token=a69bdb18-8a43-47f0-9f75-3cb6aaf7f7a5", alt="Voltex Middlwear logo", class="logo")
          h1 Voltex middlewear
          div(class="ebody") #{body}
          p 
               a(href="http://hanif-adedotun.com" ) Hanif Portfolio