@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&display=swap');
@import  url(../src/components/utils/color.css);
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-align: center;
}
*{
  font-family: 'Manrope', sans-serif !important;
}

/* Styling to change the appearance of the scroll bars */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: var(--dark); */
  background: transparent;
  /* background: #f1f1f1; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: var(--secondary); */
  background: var(--dark);
  border-radius: 5px;
}
/* The arrows at the beginning and end*/
::-webkit-scrollbar-button{
  display: none;
}


