@import url(../utils/color.css);

.l-card{
    background-color: var(--primary);
    width:50%;
    margin:  2em auto 0 ;
    color: white;
    border-radius: 30px 30px 0 0;
    min-height: 80vh;
    padding-top: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
   
}
.l-card-d{
    display: block;
}
#signin{
    display: flex;
    justify-content: center;
    align-items: center;
   
 }
 .signin-container{
     display: block;
 }
 .signin-container h2{
    font-weight: bold;
}
#img-login{
    width: 20px;
    height: auto;
}
.img-profile{
    height: 8em;
    width: auto;
    border-radius: 50%;
    box-shadow: 4px 4px 15px 10px rgba(0, 0, 0, 0.1);
}
.gsign{
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 1em 2em;
    width: max-content;
    margin:  2em auto;
    border-radius: 10px;
    font-size: large;
}
.gsign:hover{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.coming-soon{
    background-color: rgba(255, 255, 255, 0.7) !important;
    box-shadow: none !important;
    cursor:not-allowed !important;
}
.user p{
    font-size: x-large;
}
.dash-msg{
    margin-top: 2em;
}
.prof-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.prof-link:hover{
    opacity: .7;
    color: white;
}
 @media screen and (max-width: 768px){
    .l-card{
        width: 90%;
    }
 }
