/* The primary color of voltex */
@import url(../utils/color.css);

/* The whole footer section */
.footer{
    margin: 0 !important;
    padding: 1em 0;
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    font: small;
    height: fit-content;
    overflow-x: hidden;
}

.foot-l{
    width: 30%;
}
.foot-l a{
    color: white;
}
.foot-l a:hover{
    color: var(--primary);
}
.footext{
    margin-top: 1em;
}
.footext a{
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
}
.footext a:hover{
    text-decoration: underline;
}
