/* The primary color of voltex */
@import url(../utils/color.css);

.nav-cus{
    width: max-content;
    font-size: medium;
    font-weight: bold;
    margin: auto;
    padding: 0 2em;
    background-color: rgba( 50, 80, 187, 0.9);
    border-radius:  0 0 20px 20px;
    backdrop-filter: saturate(30%) blur(5px) !important;
}
.nav-l{
  color: white !important;
}
.nav-l:hover{
 /* text-decoration: underline; */
 border-bottom: 2px solid var(--primary);
}
.nav-p{
  background-color: rgba(255, 255, 255, 0.25);
  border-radius:  7px;
  color: white !important;
  margin-left: 3em;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);

}
.nav-logo{
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 2em;
}
.nav-toggle{
  border: none;
}
.nav-toggle span{
  color: white !important;
}
/* Content after the navbar */
.content{
  margin-top: 7em;
}

@media screen and (max-width:767px){
  .nav-cus{
    width: 100%;
    border-radius: 0;
  }
}