/* The primary color of voltex */
@import url(../utils/color.css);

.nav-cus{
    width: max-content;
    font-size: medium;
    font-weight: bold;
    margin: auto;
    padding: 0 2em;
    background-color: var(--primary);
    border-radius:  0 0 20px 20px;
}
.nav-l{
  color: white !important;
}
.nav-l:hover{
 text-decoration: underline;
}
.nav-p{
  background-color: rgba(255, 255, 255, 0.25);
  border-radius:  10px;
  color: white !important;
  height: 15%;
  margin-left: 1em;

}
.nav-logo{
  box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.nav-toggle{
  border: none;
}
.nav-toggle span{
  color: var(--primary) !important;
}
/* Content after the navbar */
.content{
  margin-top: 7em;
}

@media screen and (max-width:767px){
  .nav-cus{
    width: 100%;
    border-radius: 0;
  }
}