/* Primary color of vm */
:root{
     --primary: rgb(54, 123, 252);
}
.header{
     border-bottom: 2px solid var(--primary);
     text-shadow: .5px .5px 1px #000000de;
}

/* The main code wrapper for all codes */
.code_container{
     margin: 1em auto;
     border: none;
     border-radius: 30px;
     /* background-color: cadetblue; */
     max-width: max-content;
}
/* Each code wrapper to give uniqness to eeach code container */
.code-tab{
     margin: 1em auto;
     margin-top: 3em;
     overflow: auto;
}
.code-tab h4{
     color: var(--primary);
     text-shadow: .1px .1px 1px #000000de;
     /* border-bottom: 2px solid var(--primary); */
}
.code-tab .code-explained{
     display: flex;
     max-width: fit-content;
}

/* The code itself, to beautify it */
.code{
     width: auto;
     margin: 2em auto;
     padding: .2em;
     /* border-radius: 20px;
     text-align: center;
     -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.65);
     -moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 0.65);
     box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 0.65); */

     background: rgba( 255, 255, 255, 0.25 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 1.0px );
     -webkit-backdrop-filter: blur( 1.0px );
     border-radius: 10px;
     border: 1px solid rgba( 255, 255, 255, 0.18 );
}
