/* To import style links to use */
@import url(../utils/color.css);

.Home{
    color: var(--primary);
}
.h-head h1{
    font-size: 4em;
}
.h-head span{
    font-size: medium;
}
.h-main{
    display: flex;
    justify-content: center;

}
.h-img{
    width: 70%;
    height: auto;
}
.btn-pri Button{
    background-color: var(--primary);
    border-radius: 7px;
    border: none;
    padding: auto 1em;
}
.btn-pri Button:hover{
    margin-bottom: .5em;
}
.btn-sec Button{
    background-color: var(--accent);
    border: none;
    border-radius: 7px;
    padding: auto 1em;
    color: var(--primary);
}
.btn-sec Button:hover{
    background-color: var(--primary);
}
