/* To import style links to use */
@import url(../utils/color.css);

.Home{
    color: var(--primary);
}
.h-head h1{
    font-size: 4em;
}
.h-head span{
    font-size: medium;
}
.h-main{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.h-img{
    width: 70%;
    height: auto;
}
.btn-pri Button{
    background-color: var(--primary);
    border-radius: 7px;
    border: none;
    padding: auto 1em;
}
.btn-pri Button:hover{
    margin-bottom: .5em;
}
.btn-sec Button{
    background-color: var(--accent);
    border: none;
    border-radius: 7px;
    padding: auto 1em;
    color: var(--primary);
}
.btn-sec Button:hover{
    background-color: var(--primary);
}


/* Secondary section */
.alt-sec{
    background-color: var(--primary);
    color: white;
    margin: 0;
    padding: 2em 0;
}
.alt-sec h2{
    text-align: left;
}
.feat{
   text-align: left;
}
.feat ul{
    list-style-image: url('../images/icon/cube.png');
    padding: 0;
    margin: 0;
}

.feat ul li{
    text-decoration: none;
     list-style-type: none;
     margin: 2em 2em;
     text-align: left;
     line-height: 2em;
}
.docs-txt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.read-more Button{
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
}
.read-more Button:hover{
    background-color: white;
    color: var(--primary);
}
.h-docs-img{
    height: auto;
    width: 70%;
}