/* Primary color for vm */

*{
    text-align: center; 
}
.bold{
    font-weight: bold;
}
.inline{
    display: inline;
}
/* #282c34
#61dafb */
.dashboard{
    min-height: 70vh;;
    font-size: medium;
    text-align: center;
    max-width: 99.9%;
    margin: 0 auto;
    background-color: var(--primary);
    color: white;
    /* border-radius: 20px; */
    padding: .5em;
}
.dashboard h2{
    text-shadow: 2px 2px 4px #000000;
}


/* Div When the Dashboard is empty */
.empty-svg{
    height: 25em;
    width: auto;
}
.emptyDash{
    font-size: medium;
}
.emptyDash  .btn-primary , .btn-primary:active{
    background-color: white;
    color: black;
    font-weight: bold;
    padding: .55em 1em;
    width: max-content;
    margin:  2em auto;
    border-radius: 10px;
    font-size: large;
    border: none;
}
.emptyDash  .btn-primary:hover{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: black;
}
/* Tab styles */
.tab-tabs{
    width: max-content;
    border: none !important;
    margin: auto;
    text-decoration: none;
}
/* .tab-tabs .nav-link{
    color: var(--primary) !important;
} */

.tab-tabs .nav-item .active{
    color: var(--primary) !important;
    box-shadow: 0px 25px 80px 1px rgba(0, 0, 0, 0.1) !important;
}

/* Tab styles */
.tab-tab{
    color: white !important;
   font-weight: bold !important;
   border-radius: 20px 20px 0 20px !important;
}
/* End of Tab styles */

/* Form  styles */
.modal{
    border-radius: 30px !important;
}
.f-head{
    font-size: 2em;
    color: var(--primary);
    font-weight: bold;
    margin: 0 auto 1em;
}
.f-label{
    text-align: left !important;
    font-weight: bold !important;
}
.f-addon{
    background-color: var(--primary) !important;
    color: white !important;
    padding: none !important;
}
.f-btn{
    background-color: var(--primary) !important;
    color: white !important;
    padding: .5em 1em !important;
}
.f-btn:hover{
    box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.3);
}

/* End of form styles */
/* End of Div When the Dashboard is empty */

/* Form to Configure the database */

/* Accordion styles */
.btn-setting{
    border: none !important;
    background-color: rgba(255, 255, 255, .3) !important;
    color: white;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 2em auto;
}
.btn-setting:hover{
    margin: none;
}


.acc{
    background-color: white;
    color: black;
    width: max-content;
    padding: .3em 1em;
    margin: .5em auto;
    border-radius: 10px;
}
.acc-head{
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
}
.acc-body{
    width: 100%;
    padding: inherit;
    font-size: medium;
    text-align: left !important;
}
.acc-body p{
    text-align: left;
    margin-top: 2%;
}
.acc-body-label{
    font-weight: bold;
    color: var(--primary);
}

.acc-body p a{
    text-decoration: none;
    color: var(--primary);
}
.acc-body p a:hover{
    opacity: .7;
}

 /* End of form action */


/* Edit icon */
.dEdit{
    margin: .2em auto;
    color: white;
    background: none;
    /* text-shadow: 1px 1px 5px var(--primary); */
}
.dEdit:hover{
    color: #22697c;
}
/* Button element of dEdit */
#dEdit-button{
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
}
/* Input feild for editing */
.inputEdit{
    border: 2px solid var(--secondary);
    border-radius: 7px;
}
/* Style for the unique url button */
.url{
    display: flex;
    max-width: fit-content;
}
.unique{
    color: #61dafb;
    margin: auto;
}
/* End of Accordion styles */


/*Table styles  */
#empty_logo{
    height: auto;
    width: 25em;
}

.formTable{
    margin:  1em auto ;
    text-align: center;
    padding: 1em 2em;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 15px;
    box-shadow: 0px 25px 80px 1px rgba(0, 0, 0, 0.1);
}

.formTable Form{
    margin: 1em auto 1em auto ;
}
.filter-words{
    color: var(--primary);
    text-align: left;
}
.filter-words:hover{
    background-color: var(--primary) !important;
    color: white;
}
.t-button{
    background-color: white !important;
    padding: .5em 1em;
    color: var(--primary) !important;
    border: none !important;
    font-weight: bold;
}
.t-input-icon{
    background: white !important;
    border: none !important;
    color: var(--primary) !important;
}
.t-input{
    width: 100%;
    color: var(--primary) !important;
    border: none !important;
    text-align: left;
}
.t-btn-export{
    text-decoration: none !important;
    color: var(--primary);
}
.tbl{
    width:max-content;
}
.btn-delete{
    background: transparent !important;
    border: 2px solid white !important;
    color: white !important;
    border-radius: 5px !important;
    font-weight: bold;
    padding: .25em .5em;
}
.btn-delete:active, .btn-delete:hover, .btn-delete:focus{
    outline: 0 !important;
    box-shadow: none;
    background-color: var(--primary) !important;
    border: 2px solid var(--primary) !important;
}

.table-head{
    color: white;
    font-weight: bold;
}
.table-body{
    color: white;
}
.table-foot-txt{
    text-align: left !important;
}
.table-foot-icon{
    color: var(--primary);
    margin: 0 .5em;
}
.table-foot-icon:hover{
    color: white;
}
.disabled{
    opacity: .6;
    color: var(--primary) !important;
}
.empty-search{
    margin: auto;
}
.empty-search img{
    margin: auto;
    width: 15em;
    height: auto;
}
/* End of table styles */

/* Form error messgae from the server */
.form-error, .form-good{
    color: white;
    border-radius: 5px;
    margin: auto;
    width: max-content;
    margin-bottom: 1em;
}

.form-error .error-li{
    list-style-type: none;
    font-weight: bold;
    font-size: medium;
    color: red;
    margin: .1em auto;
    /* text-align: left ; */
}

.form-good{
    background-color: green;
}
.form-good .good{
    font-weight: bold;
    font-size: medium;
    margin: .1em auto;
    padding: .3em;
}
.configureform{
    margin: 1em;
}
.configureform form input{
    color:  #282c34;
}
/* End of Form */

/* Modal popup */
.popup{
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    width: max-content;
    height: max-content;
}
.popup .close{
text-decoration: none;
border: none;
font-size: x-large;
color: red;
}
.popup .content{
 font-weight: bold;
 font-size: large;
 margin: .5em auto;
}

.del_button{
    margin: 1em  1em;
    text-shadow: 2px 2px 4px #000000;
    /* box-shadow:  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
}

/* Table refresh button */
#table-refresh{
    text-align: center;
    margin: auto;
    background-color: var(--primary);
    outline: none; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: .5em 1em;
}
#table-refresh:hover{
    /* color: var(--primary); */
    background-color: rgba(255, 255, 255, .3) !important;
}

.rotate{
    animation: logo-spin infinite 2s linear; 
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
/* End of popup */





/* If a user is not signed in class */
.signedout {
    color:  white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signedout-cont{
    display: block;
    font-size: large;
}
.signedout-img{
    width: 20em;
    height: auto;
}

/* End of not signed in div */

/* Loading text in dashboard */
.loading-cont{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: max-content;
    margin: auto;
}
.loading{
    display: block;
}
.load-logo{
    width: 100px;
    height: auto;
    margin-bottom: 2em;
    animation: pulse 3s infinite;
  }
@keyframes pulse{
    0% {
          transform: scale(0.85);
      }
  
      70% {
          transform: scale(1);
      }
  
      100% {
          transform: scale(0.85);
      }
  }
.space{
    margin: 1em auto;
}
/* End of Loading text in dashboard  */

/* Server Error text */
.serverErr{
    color: rgb(255, 255, 255);
    margin: 4em auto;
}
/* End of server Error text */
